 body{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }
 .Reriblesize{
     font-weight: bold;
     font-size: 1.4rem;
 }
 .TopSpan{
     width: 100%;
     text-align: center;
     padding: .6rem 0%;
     background-image: linear-gradient(to right,blue,rgb(207, 14, 159));
     
     color: white;
 }
 /*input{
    margin-left: 1rem;
     
     
 }
 */
 .Navbar{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    flex-wrap: nowrap;
      margin-left:20px !important;
 }
 
.navbaritem{
    list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  flex-wrap: nowrap;
   /* margin-left:10px !important;*/
     
     font-size: 1.0rem;
     padding: 5px;
     
 }
 .form{
     padding-left: 20% !important;
 }
 .Navcontainer{
     margin-left: 1.0rem;
 }
 .Moonpic{
     font-size: 1.0rem;
     transform: rotate(270deg);
 }
 .navbtn{
     width: 6rem;
     height: 3rem;
 }
 .navbtn.create{
     background-image: linear-gradient(to right,blue,rgb(255, 0, 200));
     
 }
.navbtn.create:hover{
    background-image: linear-gradient(to left,rgb(0, 17, 255),rgb(255, 0, 234));
   

 }
 .Navlink{
     color: rgba(0, 0, 0, 0.562);
     font-weight: bold;
 }
 .Navlink:hover{
     color: black;
 }
 .formInput{
     display: flex;
     align-items: center !important;
     
 }
 .navbarItem
 {display: flex;
    align-items: center !important;
    font-size: 15px;
    

 }
 .mProfile{
     width: 100px !important;
 }
 .Works{
    width: 120px !important;
}
 
 .Row{
    display: flex;
    align-items: baseline;
    align-items: center !important;
    padding-left: 50px;
 }
 .FirstCol{
     margin: 0%;
     padding: 0%;
     
     height: 650px;
     font-weight: bold;
     border-radius: 5%;
     border: black solid 0px;
     margin-right: auto!important;
    margin-left: auto!important;
}
 
 
 .Ssubcol{
    
     margin: 100% !important;
     padding-bottom: 0%;
     border-radius: 5%;
     border: solid 1px;
     margin-right: auto!important;
    margin-left: auto!important;
 }
 .mywidth
 {
     width: 100% !important;
     height: 100% !important;
     
 }
 .Swidth
 {
     width: 500% !important;
     height: 65% !important;
     
 }
 .col-md-3 col-sm-5  Ssubcol  m-2 {
    margin-right: auto!important;
    margin-left: auto!important;
    
   width: 50px;
   height: 100%;
   border-radius: 5%;
}
 .rowHot{

    display: flex;
    align-items: center !important;
    width: 20%;
    min-width: 100%;
    padding-left: 10px;
    
}
 select{
    border:none;
    outline:none;
 }
 .select{
     margin-left: 5px; 
     font-size: 40px;
 }
 .card{
     width: 300px;
 }
 .Card{
     padding-bottom: 10% !important;
 }
 .Cimg{
     margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
 
 .cardbody{
     margin-top: 50px;
     margin-left: 35px;
 }
 .para{
     margin-top: 50px;
     margin-left: 20px;
     margin-right: 5px;
     font-size: 1.5rem;
     font-weight: bold;
 }
 .Bimg{
    display: flex;
    align-items: center !important;
width: 100% !important;

    height: 30% !important;
    border-radius: 5%;
 }
 .fa-ellipsis-h{
     padding-left: 90%;
     width: 8% !important;
     
 }
 .infinite{
     border-width: 2px;
     border-color: brown;
     
     
    width:8%;
    border-radius: 50%
  }
  .infinite:hover{
    border-color: brown;
  }
 
 .Cimg { max-width: 100%; }
 
    
      @media   (min-width: 1200px) {
        
        
      }

      @media(max-width: 990px) {
      

      }
      @media(max-width: 800px) {
      

    }
    @media(max-width: 600px) {
      

    }
    @media(max-width: 480 px) {
      

    }
      
    
