 body{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }
 .Reriblesize{
     font-weight: bold;
     font-size: 1.4rem;
 }
 .TopSpan{
     width: 100%;
     text-align: center;
     padding: .6rem 0%;
     background-image: linear-gradient(to right,blue,rgb(207, 14, 159));
     
     color: white;
 }
 input{
     margin-left: 1rem;
     
     
 }
 .Navbar{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    flex-wrap: nowrap;
      margin-left:20px !important;
 }
 
.navbaritem{
    list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  flex-wrap: nowrap;
    margin-left:20px !important;
     
     font-size: 1.0rem;
     padding: 5px;
     
 }
 .form{
     padding-left: 20% !important;
 }
 .Navcontainer{
     margin-left: 2.0rem;
 }
 .Moonpic{
     font-size: 1.0rem;
     transform: rotate(270deg);
 }
 .navbtn{
     width: 6rem;
     height: 3rem;
 }
 .navbtn.create{
     background-image: linear-gradient(to right,blue,rgb(255, 0, 200));
     
 }
.navbtn.create:hover{
    background-image: linear-gradient(to left,rgb(0, 0, 255),rgb(4, 0, 255));

 }
 .Navlink{
     color: rgba(0, 0, 0, 0.562);
     font-weight: bold;
 }
 .Navlink:hover{
     color: black;
 }
 .FirstCol{
     margin: 0%;
     padding: 0%;
     padding-left: 6%;
     height: 650px;
     font-weight: bold;
     border-radius: 5%;
     border: black solid 0px;
     margin-right: auto!important;
    margin-left: auto!important;
}
 
 
 .Ssubcol{
     height: 600px;
     width: 100%;
     margin: 10%;
     padding-bottom: 0%;
     border-radius: 5%;
     border: solid 1px;
     margin-right: auto!important;
    margin-left: auto!important;
 }
 .mywidth
 {
     width: 100% !important;
     height: 100% !important;
     
 }
 .Swidth
 {
     width: 100% !important;
     height: 60% !important;
     
 }
 .col-md-3 col-sm-5  Ssubcol  m-2 {
    margin-right: auto!important;
    margin-left: auto!important;
    margin: auto;
   width: 50px;
   height: 100%;
   border-radius: 5%;
}
 .row{
     margin-left: 0%;
     margin-right: 0%;
     padding-left: 0%;
     padding-right: 0%;
 }
 select{
    border:none;
    outline:none;
 }
 .select{
     margin-left: 8px; 
     font-size: 40px;
 }
 .card{
     width: 300px;
 }
 .Cimg{
     margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
 
 .cardbody{
     margin-top: 50px;
     margin-left: 35px;
 }
 .para{
     margin-top: 50px;
     margin-left: 20px;
     margin-right: 5px;
     font-size: 1.5rem;
     font-weight: bold;
 }
 .Bimg{
width: 100% !important;

    height: 50% !important;
    border-radius: 5%;
 }
 .Bimg { max-width: 100%; }
 .Cimg { max-width: 100%; }
 
    
      @media only screen and (min-width: 600px) {
        
        .navbaritem {width: 8.33%;}
        .navbaritem {width: 16.66%;}
        .navbaritem {width: 25%;}
        .navbaritem {width: 33.33%;}
        .cnavbaritem {width: 41.66%;}
        .navbaritem {width: 50%;}
        .cnavbaritem {width: 58.33%;}
        .cnavbaritem {width: 66.66%;}
        .navbaritem {width: 75%;}
        .navbaritem {width: 83.33%;}
        .navbaritem {width: 91.66%;}
        .navbaritem {width: 100%;}
      }
      @media only screen and (min-width: 768px) {
        /* For desktop: */
        .Bimg {width: 8.33%;}
        .Bimg {width: 16.66%;}
        .Bimg {width: 25%;}
        .Bimg {width: 33.33%;}
        .Bimg {width: 41.66%;}
        .Bimg {width: 50%;}
        .Bimg {width: 58.33%;}
        .Bimg {width: 66.66%;}
        .Bimg {width: 75%;}
        .Bimg {width: 83.33%;}
        .Bimg {width: 91.66%;}
        .Bimg {width: 100%;}
        .Bimg {align-items: center;}
      }
      [class*="HeaderSection"] {
        width: 100%;
      }
      .card{
        display: block;
      }
     
      
    
