 body{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;font-family: 'Montserrat', sans-serif;
 }
 .row{
     margin: 0%;
     padding: 0%;
 }
 .Reriblesize{
     font-weight: bold;
     font-size: 1.8rem;
 }
 .TopSpan{
     width: 100%;
     height: 3.4rem;
     text-align: center;
     padding: .6rem 0%;
     background: linear-gradient(
            91.34deg, rgb(12, 80, 255) 6.98%, rgb(91, 157, 255) 46.77%, rgb(255, 116, 241) 78.38%);
     font-size: 1.3rem;
     font-weight: bold;
     color: white;
 }
 .NavBrand{

     margin-left: 1rem;
 }

 .SearchNavitem{
     width:30%;
 }
 .NLink.first{
    width:100% ;
}
 .SearchDiv{
     width: 100%;
 }

 .SearchDiv input{
    background-color: rgba(0, 0, 0, 0.089);
    width:100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.171);
    text-indent: 3rem;
}
.SearchSpan{
    position: absolute;
    left: 1rem;
    
   font-size: 1.5rem;
}
.SearchDiv input:focus{
    background-color: white;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.212);
}

.NLink{
    width: 120px;
    font-size: 1.2rem;
}
.NavLine{
    width: 1px;
    height: 28px;
    margin-top: 15px;
    margin-right: 10px;
   background-color: rgba(0, 0, 0, 0.116);
}
.text-nowrap {
    white-space: nowrap !important;
}
 
 
 .Navbarbtn{
     margin: 0%;
 }
 .Moonpic{
     font-size: 1.1rem;
     transform: rotate(270deg);
 }
 .navbtn{
     width: 8rem;
     height: 3rem;
 }
 .input-group input{
     width: 444px;

 }
 .navbtn.create{
     background-image: linear-gradient(to right,blue,rgb(207, 43, 172));
     
 }
.navbtn.create:hover{
    background-image: linear-gradient(to left,rgb(0, 4, 255),rgb(0, 26, 255));

 }
 
 .FirstCol{
     margin: 0%;
     padding: 0%;
     height: 600px;
     
     

    }
    
 .FirstSubcol{
     width: 90%;
    height: 95%;
    margin: 10px 100px 100px 30px;
    background-image: url('/src/ReraibleApp/Pictures/col1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  
 }
 
 .Ssubcol{
     width: 31%;
     height: 280px;
     font-size: 16px;
 }
 .Ssubcol.first{
     
    background-image: url('/src/ReraibleApp/Pictures/col2.jfif');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
 }
 .Ssubcol.second{
   
    background-image: url('/src/ReraibleApp/Pictures/col3.jfif');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
 }
 .Ssubcol.third{
  
    background-image: url('/src/ReraibleApp/Pictures/col4jfif.jfif');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
 }
 .Ssubcol.fourth{
    
    background-image: url('/src/ReraibleApp/Pictures/col5.jfif');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
 }
 .Ssubcol.fifth{
  
    background-image: url('/src/ReraibleApp/Pictures/col6.jfif');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
 }
 .Ssubcol.sixth{
    
    background-image: url('/src/Firstcolimage.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
 }
 
 .row{
     margin-left: 0%;
     margin-right: 20px;
     padding-left: 0%;
     padding-right: 0%;
 }
 select{
     padding-left: 8px;
    border:none;
    outline:none;
 }
 .ContentTop{
     width: 30%;
     font-weight: bold;

 }
 .select{
    position: absolute;
    right: 0%;
   
    font-size: 2.2rem;
 }
 .myCard{
  
    margin: 0% 1.4rem;
 }
 
 .Cimg{
     margin: 40px;
    width: 100px;
    height: 65px;
    border-radius: 50%;
 }
 .cardbody{
     
     margin-top: 27px;
     margin-left: 35px;
 }
 .para{
     margin-top: 50px;
     margin-left: 20px;
     margin-right: 5px;
     font-size: 1.5rem;
     font-weight: bold;
 }
.form-control{
    width: 20rem;
 }
 .searchinput{
     width: 20rem;
     border-radius: 2.4rem;
     height: 3rem;
 }
 .Mdbcard{
     border: 1px solid !important;
     padding: 20px;
     border: rgba(0, 0, 0, 0.247) solid 1px;
 }
.Cardimages{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.Cardimages.two{
    margin-left: 26px;
}
.Cardimages.three{
    margin-left: 52px;
}
.option{
    position: absolute;
    right: 5%;
}

.Toggle{
    background-color: transparent;
    color: black;
    font-size: 1.2rem;
    box-shadow: none;

}
.Toggle:after {
 display: none;
}
.Toggle:hover{
    color: black;
    background-color: transparent;
    box-shadow: none;
}
.Toggle:focus{
    color: black;
    background-color: transparent;
    box-shadow: none;
}
.DropdownMenu{
    width: 13rem;
    height: 13rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
    text-align: center;
    margin-left: -160px;
    
}



  .Mdbbody{
      margin-top: 15px;
      margin-left: -15px;
  }
  .Mdbtext{
      font-weight: bold;
      font-size: 1rem;
      margin-top: 20px;
  }
  .Mdbtext.second{
      color: rgb(20, 136, 231);
      font-size: 1.2rem;
  }
  .Mdbtext_three{
      position: absolute;
      right: 0%;
      font-size: 1.3rem;
     
  }
  .HotCollCards{
      margin-left: 20px;
  }
  .Hotbiddiv{
      margin: 0% .2rem;
  }
  .HCollectionImage{
    width: 100px;
    height:100px;
    border-radius: 50%;
    border:  white solid 5px;
}
  .HCollcol{
        top: 60px;
        left: 90px;
      text-align: center;
      color: rgba(0, 0, 0, 0.349);
  }
  .ExpButton{
      color: black;
      border: solid 1px rgba(0, 0, 0, 0.171);
      width: 12rem;
      height: 3rem;
      text-transform: none;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 3px;
  }
  .ExplorDiv{
      width: 200px;
  }
  .ExplorDiv.last{
      padding-right: 24rem !important;
      padding-right: 29rem !important;
     position: absolute;
    
      right: -280px;
  }
  .ExploreCard2{
      padding-top: 2rem;
      width: 20%;
  }
  .LoadMorebtn{
      width: 90%;
      height: 65px;
      margin-left: 80px;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: none;
      border-width: 4px;
      border-style: solid;
      
      
        border-radius: 100rem;
        padding: 1rem;
        font-family: 'Avenir Next';
       
        padding: .5rem 3rem;
        color: color-black;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #03a8d1, #f10bea);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
  }
  .LoadMorebtn:hover{
      color: black;

  }
  .FooterLast{
      position: relative;
      width: 100%;
      height: 550px;
      background-color: rgba(177, 174, 174, 0.219);
      margin-top: 4rem;
  }
  .FLastMaindiv{
      position: absolute;
      bottom: 0%;
    width: 100%;
    height: 80%;
    
      
}

.card{
    box-shadow: none !important;
}
  
  .wrapper{

      width: 90%;
      padding: 20px;
}
.wrapper input{
    width: 90%;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.24);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
   
}
.wrapper input:active{
    border: 3px solid rgb(214, 11, 11);
}

.wrapper input[type="text"]::placeholder {  
                  
   
    padding-left: 22px; 
} 
.searchbtn{
    position: absolute;
    right: 70px;
    top: 30px;
}
.ImButton{
    width: 100px;
    height: 53px;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.form-select{
    width: 60%;
    height: 50px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.form-select option{
    font-weight: bold;
    color: black;
    margin: 15px 0;

}
ul{
    list-style: none;
}
ul li{
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.9rem;
}
@media (max-width:1690px) and (min-width:1400px){
    .navbtn{
        width: 6rem;
        height: 2.4rem;
    }
    .NLink{
        width: 110px;
        font-size: 1.2rem
    }
    .Reriblesize{
        font-size: 1.4rem;
    }

}


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {   

    .SearchDiv{
        width: 720px;
    }

    .Ssubcol{
        padding-left: 10.5rem;
        width: 31%;
        height: 180px;
        font-size: 16px;
    }
    .ContentTop{
       
        padding-left: 2rem;
    }
    .main{
        margin-left: 5rem;
    }
.card-img-top{
    height: 130px !important;
}
    .select{
        display: flex;
        position: absolute;
        right: -228px;
       
        font-size: 2.2rem;
     }

     .ContentTop{
         padding-left: 0px!important;
     }

     .d-flex{
         
         flex-wrap: wrap;
         padding-right: 0rem !important;
     }
     .Mdbcard{
         
padding-top: 2rem;

     }
     .language{
         width: 10rem;
     }
     .HCollcol{
         width: 0px !important;
     }

     .Hotbids{
         width: 750px !important;
         
     }
     .bid{
         
         padding-right: 1rem;
         padding-top: 1rem;
         
     }

     .Saller{
         margin-left: 5rem !important;
     }
     .Auction{
         padding-right: 0px!important;
         padding-left: 2rem;
     }
    .Aut{
        padding-right: 1rem;
        padding-top: 1rem;
    }
    .HotCollCards{
        padding-right: 0px!important;
        margin-left: 2rem!important;
        width: 43rem !important;
    }
    .col-sm-3{
        width: 14rem !important;
        padding-left: 0.5rem;
        padding-top: 2rem;
    }
    .HCollcol{
    left: 63px!important;


}
.Mdbbody{
    margin-left: -34px;
}

.ExploreCard2{
    width: 14rem!important;
}



.Exp{
    margin-left: 2rem!important;
}

ul li{
padding-right: 0rem !important;
line-height: 2.4rem !important;
}

.language{
width: 0px !important;



}

.searchbtn{
    left: 180px !important;
    top: 20px !important;
}

.wrapper input{

    width: 210px;
    font-size: 1rem;
    height: 41px;
}

.ImButton{
    width: 90px;
    font-size: 1rem;
    height: 41px;
}

.ldbtn{
    padding-right: 7rem;
}



.FooterLast{
    height: 710px;
}
.FLastMaindiv{
    height: 40rem;
}
 }

/* Large devices (mobile, 320px and 425px)*/
@media (max-width:425px) and (min-width:320px){ 
   
    .SearchDiv{
        width: 380px;
    }
    
    .FirstCol{
       
        height: 360px;
        
        
   
       }

       .cardbody{
           width: 151px;
           margin-top: -43 !important;
       }
    .row{
        margin-right: 0px !important;
    }
    .Mdbcard{
        margin-left: -3rem !important;
        margin: 0 auto;
         width: 15.5rem !important;
        padding-top: 1rem;
        
             }

             .Aut{
                 padding-right: 3rem !important;
             }

    .Cardimages{
        margin-bottom: 2rem;
        width: 26px;
        height: 26px;
    }


    .myCard{
        height: 326px;
        width: 177px;
    }

    .mb-5{
        margin-bottom: 2rem !important;
    }
    .option{
        left: 90px;
    }
    .Mdbbody{
        width: 12rem;
        margin-left: -21px;
        margin-top: -16px;
    }
    .dropdown{
        padding-left: 4rem !important;
    }
    .select{
        font-size: 1.6rem;
        
    }
    .Auction{
        width: 0px !important;
        padding-left: 97px;
    }

    .container{
        width: 0px !important;
    }
    
    
    .HotCollCards{
        padding-right: 0px!important;
        margin-left: 5rem!important;
        width: 17rem !important;
    }
    .ExpButton{
        padding-bottom: 0px !important;
        color: cornflowerblue;
        height: 44px !important;
        width: 145px;
        
    }
    
    .Exp{
       
        margin-left: -4rem;
    }

    .ExploreCard2{
padding-left: 5rem;
       width: 12rem !important;
    }
    .Hotbids{
        width: 400px !important;
    }

    .bid{
       
        padding-left: 5rem;
        padding-top: 1rem;
    }
    .d-flex{
       flex-wrap: wrap;
    }

.wrapper{
    padding: 0px !important;
    margin-top: 2rem;
}

    .wrapper input{
     padding-right: 1rem;
        width: 133px;
    }
    .searchbtn{
        left: 2px !important;
        top: 66px !important;
    }

    .h4{
        margin-left: 0px !important;
    }
    .col-2.colTwo{
        margin-right: -7rem;
        padding-right: 4rem;
        width: 12rem;
    }
    .form-select{
        width: 300px;
    }
    .language{
        margin-left: -57px !important;
    }

 }

/* Laptop devices ( Laptop, 1200px and up)*/
@media (max-width:1440px) and (min-width:1024px) { 

    .NLink{
        font-size: 1rem;
        width: 90px;
    }
    .SearchDiv input{
        height: 2rem;
       text-indent: 1rem;
        width: 250px !important;
    }
    ul li{
font-size: none;
padding-left: 0px !important;
    }
    .navbtn{
        height: 2rem;
        margin-left: 0rem;
        width: 5rem;
    }
    .SearchNavitem{
        width: 25%;
    }
.Auction{
    padding-right: 3rem !important;

}
.HotCollCards{
    padding-right: 3rem!important;
}
.Auctions{
    display: flex;
    flex-direction: column;
}
.cardbody{
    margin-left: 19px !important;
}





 }







